
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #001e4d;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px;
    min-height: calc(65vh - 90px); 
    max-height: 50px;
}

.app h1{
    font-size: 40px;
    color: #001e4d;
    font-weight: 600;
    
    padding-bottom: 20px;
    text-align: center;
}

.menu-principal{
    padding:20px;
}

.menu-principal h2{
    font-size: 20px;
    color:#001e4d;
    font-weight: 60px;
    max-height: 200px;
}

#titulo-menu-secundario{
    text-align: center;
    padding: 4px;
    font-size: 20;

}


#buttons {
    display: flex;
    flex-direction: column;
    gap: 4px; 
}

.btn{
    background:#fff;
    color: #222;
    font-weight: 600;
    width: 100%;
    border: 1px solid #222;
    padding:10px;
    margin:10px 0;
    text-align: center;
    border-radius: 4px;
    cursor:pointer;
    transition: all 0.3s;
}

.btn:hover{
    background: #001e4d;
    color: #fff;
}
/**Cadastro**/

.app-usuarios h1 {
    text-align: center; 
    font-size: 28px; 
    margin-bottom: 30px; 
    color: #333; 
    font-weight: bold; 
}

.ficha-cadastro {
    font-size: 16px;
    color: #001e4d;
    font-weight: 40px;
    max-height: 200px;
    text-align: center;
    align-items: center;
    padding: 4px;
    display: block;
    justify-content: center;
    height: auto;
}

.titulo-cadastro{
    padding: 1px;
    height: 50px;
    font-size: 30px;
    align-items: center;
}


.cadastro-text {
    color: #222;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    text-align: center;
    display: inline-block; 
    width: 30%; 
}


.cadastro-input {
    background: #fff;
    color: #222;
    font-weight: 300;
    width: 70%; 
    max-width: 400px; 
    border: 1px solid #222;
    padding: 3px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    display: inline-block; 
}
#seta {
    position: absolute;
    cursor: pointer;
}

.seta_retorno {
    width: 32px; 
    height: auto; 
}

/* Mensagem Flash */
.flash-message {
    display: inline-block;
    background-color: #4CAF50;  
    color: white;
    padding: 10px 20px;
    border-radius: 25px;  
    position: fixed;
    top: 20px;  
    left: 50%;
    transform: translateX(-50%);  
    font-size: 14px;  
    opacity: 1;
    transition: opacity 0.5s ease-in-out;  
    z-index: 9999;  
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.flash-message.success {
    background-color: #28a745;  
}

.flash-message.error {
    background-color: #dc3545;  
}


.flash-message.hide {
    opacity: 0;
    visibility: hidden;
}


/**Botões de cadastro**/
.btn2 {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 40%; 
    max-width: 400px; 
    border: 1px solid #222;
    padding: 8px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn2:hover {
    background: #001e4d;
    color: #fff;
}

/* Usuários */
.app-usuarios {
    background: #fff;
    width: 90%; 
    max-width: 1200px; 
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px;
    min-height: calc(65vh - 90px);
}

/* Estilo para a tabela de usuários */
.usuarios-tabela {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto; 
    text-align: right;
}

.usuarios-tabela th,
.usuarios-tabela td {
    padding: 16px; 
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px; 
    color: #333;
}

/* Cabeçalho da tabela */
.usuarios-tabela th {
    background-color: #001e4d; 
    color: #fff; 
    font-weight: bold;
    text-transform: uppercase;
    width: 100px;
}

/* Linhas alternadas */
.usuarios-tabela tr:nth-child(even) {
    background-color: #f2f2f2; 
}

/* Estilo ao passar o mouse */
.usuarios-tabela tr:hover {
    background-color: #ddd; 
    cursor: pointer;
}

.listagem-usuarios-table{
    width:100%
}

.listagem-usuarios-table{
    align-items: right;
}

/* Estilos específicos para a página calcular_sessao.html */

.app-calc {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px;
    min-height: calc(65vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.app-calc .calc-text {
    text-align: center;
}

/* Formulário específico */
.app-calc input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}


.app-calc button:hover {
    background-color: #001e4d;
}

/* Estilo para o conteúdo de resultado */
.app-calc .resultado-text {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

.app-calc .result-tittle {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
}

.app-calc .resultado-text p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.app-calc .btn-voltar {
    display: inline-block;
    margin-top: 15px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.app-calc .btn-voltar:hover {
    background-color: #218838;
}

.btn-registro{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 40%; 
    max-width: 400px; 
    border: 1px solid #222;
    padding: 8px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    right: 750px;
}

.btn-registro:hover {
    background: #001e4d;
    color: #fff;
}

/* Responsividade: Ajuste para telas menores */
@media (max-width: 600px) {
    .app-calc {
        padding: 20px;
        width: 95%;
    }

    .app-calc .resultado-text {
        padding: 15px;
    }

    .app-calc .result-tittle {
        font-size: 20px;
    }
}

.menu-principal-registro {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100%; /* Faz o menu ocupar toda a altura do container pai */
    width: 100%; /* Garante que ele ocupe a largura do container pai */
}


/**Footer**/
.footer-section {
    padding: 20px 10px;
    background: #fff;
    color: #222;
    text-align: center;
}

.footer-section .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-section .social-link-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-section .social-link-list .social-link {
    font-size: 20px;
    color: #222;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section .social-link-list .social-link:hover {
    color: #00bcd4;
}

.footer-section .policy-text {
    text-align: center;
    font-size: 14px;
}

.footer-section .policy-text .policy-link {
    color: #00bcd4;
    text-decoration: none;
    margin: 0 5px;
}

.footer-section .policy-text .policy-link:hover {
    text-decoration: underline;
}

.logo-fadergs{
    gap: 10px;
    width: 15%;
    gap:20px;
    margin: 0;
    height: 15%;
    border-radius: 0%;
}


/*scrollbar styling*/
::-webkit-scrollbar{
    background-color: transparent;
    width: 13px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#d1c9fc,#6b74e7,#514997);
    border-radius: 100px;
}

