<!-- templates/listar_usuarios.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Nickname</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario[0] }}</td> <!-- ID -->
                <td>{{ usuario[1] }}</td> <!-- Nome -->
                <td>{{ usuario[2] }}</td> <!-- Nickname -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
